<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                       Git
                    </a>
                </li>
                <li>
                    <a href="#">
                        Documentação
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, EveControl
        </div>
    </div>
</footer>
